.container {
  background-color: var(--light-coral);
  background-image: url("/assets/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: bottom -1.4rem left;
  padding: 83px 1.5rem;
}

.container h2 {
  color: #012f34;
  width: 240px;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  text-align: center;
}

.container a {
  color: #012f34;
  width: 153px;
  height: 3rem;
  font-size: 18px;
  line-height: 28px;
  border: 2px solid #012f34;
  border-radius: 24px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .container a:hover {
    background-color: #012f34;
    color: var(--white);
  }
}

@media (max-width: 20rem) {
  .container {
    background-position: bottom -2.1rem left -2rem;
  }
  .container h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
  }
}

@media (min-width: 48rem) {
  .container {
    padding: 76px 98px 76px 97px;
  }
  .container > :first-child {
    max-width: 917px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
  }
  .container h2 {
    width: 336px;
    margin-bottom: 0;
    margin-inline: 0;
  }
  .container a {
    margin-inline: 0;
  }
}

@media (min-width: 75rem) {
  .container {
    padding: 76px 165px 76px 165px;
  }
  .container h2 {
    width: fit-content;
    font-size: 3rem;
    line-height: 3rem;
  }
}
